<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackbooks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.blackbooks.BlackBooksApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.blackbooks.activities.BookList"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.blackbooks.activities.BookSearch" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.IsbnLookup"
            android:label="@string/title_activity_isbn_lookup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.BookList" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.BookEdit"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.BookList" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.BookDisplay"
            android:label="@string/title_activity_book_display" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.BookList" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.BookAuthorsEdit"
            android:label="@string/title_activity_book_authors_edit"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.BookAdd" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.BookCategoriesEdit"
            android:label="@string/title_activity_book_categories_edit"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.BookAdd" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.BookSearch"
            android:label="@string/title_activity_book_search_default" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.BookList" />
        </activity>
        <activity android:name="com.blackbooks.activities.ReportError" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>