<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackbooks"
    android:versionCode="13"
    android:versionName="1.2.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.blackbooks.BlackBooksApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.blackbooks.activities.SummaryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.blackbooks.activities.BookSearchActivity" />

        </activity>
        <activity
            android:name="com.blackbooks.activities.IsbnLookupActivity"
            android:label="@string/title_activity_isbn_lookup" />
        <activity
            android:name="com.blackbooks.activities.BookEditActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blackbooks.activities.BookDisplayActivity"
            android:label="@string/title_activity_book_display" />
        <activity
            android:name="com.blackbooks.activities.BookAuthorsEditActivity"
            android:label="@string/title_activity_book_authors_edit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blackbooks.activities.BookCategoriesEditActivity"
            android:label="@string/title_activity_book_categories_edit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blackbooks.activities.BookSearchActivity"
            android:label="@string/title_activity_book_search_default">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.blackbooks.activities.BookImportActivity"
            android:label="@string/title_activity_book_import" />
        <activity
            android:name="com.blackbooks.activities.BookImportColumnMappingActivity"
            android:label="@string/title_activity_book_import_column_mapping" />
        <activity
            android:name="com.blackbooks.activities.BookExportActivity"
            android:label="@string/title_activity_book_export" />
        <activity
            android:name=".activities.BulkAddActivity"
            android:label="@string/title_activity_bulk_add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackbooks.activities.SummaryActivity" />
        </activity>
        <activity android:name="com.blackbooks.activities.ReportErrorActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BookGroupListActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.blackbooks.activities.BookListActivity2">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.blackbooks.activities.FileChooserActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.blackbooks.service.BulkSearchService"
            android:exported="false" />
    </application>

</manifest>